/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 0;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgb(248, 248, 248);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}

.xyz {
    min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.fixed-brand {
    width: auto;
}

.navbar-brand {
    color: #4682B4;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 0px;
}

.sidebar-nav li {
    text-indent: 70px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #337ab7;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #337ab7;
    background: rgb(240, 240, 240);

}

.sidebar-nav > .sidebar-brand a {
    color: #337ab7;
}

.sidebar-nav li a.navbar-logo:hover {
    background: rgb(40, 96, 144) !important;
}

.no-margin {
    margin: 0;
    height: 75px;
    background-color: #286090;
    border: 0;

}

.divider {
    height: 1px;
    width: 100%;
    display: block; /* for use on default inline elements like span */
    margin: 0;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    .fixed-brand {
        width: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}

/*glyphicon styles */
.margin-icon-side {
    margin-right: 10px;

}

/* style for username password */
.navbar-right-user-field {
    margin-right: 60px;
    margin-bottom: 10px;
}

/* style for button */
.btn-default {
    color: #2e6da4;
    background-color: rgb(248, 248, 248);
    margin-bottom: 10px;
    margin-top: 20px;
    width: 90px;
}

a.navbar-logo {
    height: 75px;
    line-height: 75px;
    text-indent: 0;
    width: 100%;
    background-color: #286090;
    color: white !important;
    padding-left: 30px;
    padding-bottom: 0;
    padding-top: 0;
}

.profile-img {

    margin-right: 5px;
    margin-left: 5px;

}

.dropdown-style {
    background: rgb(248, 248, 248);
    color: #337ab7 !important;
    width: 280px;
    height: 207px;
    margin-right: 0;
    top: 75px !important;

}

.dropdown-style > li > a {
    background: rgb(248, 248, 248);
    color: #337ab7 !important;
    margin-left: 90px;
}

.btn-info {

    width: 266px;
    height: 45px;
    margin: 5px;
    background-color: #22557d;

}

.btn-info:hover {
    background-color: #337ab7;
}

.username-container {
    display: inline-block;


}

.username-container > .username {

    color: #337ab7;
    margin: 3px;
    font-family: Georgia, serif;
    font-size: 14pt;

}
.title {

    color: #0f0f0f;
    margin: 3px;
    font-family: Verdana, serif;
    font-size: 14pt;
}

a.username-dropdown-toggle {
    color: #fff !important;
    background-color: #286090 !important;
}
.form-horizontal{
    margin-top:20px;
}

.selected-row{
    background-color: #bcbcbc !important;
}
.panel-title{
    color:#286090;
    font-family: Georgia;
    font-weight: bold;
}
.panel-body{
    color:#286090;
    font-family: Courier;

}
.h2-style{
    margin:15px;
    line-height: 5px;
}
.td-style{
    font-family: Verdana,serif;
    font-weight: bold;
}
.btn-edit{
    width: 85px;
    height: 45px;
    margin: 8px;
    color : white !important;



}
.btn-edit a{
    color: white;
}